<div [formGroup]="parentForm" class="form-wrapper" [ngStyle]="{ 'max-width': _props().wrapperWidth }">
  @if (label()) {
    <label class="form-wrapper__label" [ngStyle]="{ 'min-width': _props().labelMinWidth }" [htmlFor]="controlName">
      {{ label() }} :
    </label>
  } @else if (isEmptyLabel()) {
    <label class="form-wrapper__label" [htmlFor]="controlName"></label>
  }
  <input
    class="form-wrapper__control"
    pInputText
    [type]="_props().type"
    [appPhoneNumber]="enablePhoneValidation()"
    [placeholder]="_props().placeholder"
    [formControlName]="controlName()"
    [ngStyle]="{ 'flex-basis': !label() ? '100%' : '80%' }"
  />
</div>
